/**
 * CSS Modal Themes
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */

/*
 * Global Theme Styles
 */

%modal-theme {
  color: $modal-color;
  // Content Area
  .modal-inner {
    border-radius: $modal-border-radius;
    background: $modal-inner-background;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    max-width: 100%;
    -webkit-transition: max-width 0.25s linear, margin-left 0.125s linear;
    transition: max-width 0.25s linear, margin-left 0.125s linear;
    .outer {
      @include outer-container;
    }
  }
  aside {
    @include span-columns(8);
    @include pad;
    @include media($mobile) {
      @include span-columns(4);
    }

    margin-right: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  article {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(4);
    }

    padding: 3% 1% 0 1%;
    h1 {
      padding-bottom: 0.9em;
      font-size: 2.2em;
      color: $green;
      margin: 0;
      text-align: left;
    }
    h3 {
      text-align: left;
      color: transparentize($base-font-color, 0.6);
      font: 900 1em Helvetica;
      padding-bottom: 5%;
    }
    p {
      text-align: left;
      white-space: pre-wrap;
      font: 500 1em/1.8 Helvetica;
    }
  }
  .spec {
    float: right;
    margin-top: 5%;
    padding-right: 3.3%;
    h2 {
      text-align: right;
      font-style: italic;
      font-size: 0.8em;
      font-weight: 200;
      display: inline-block;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
  // Header
  header {
    border-bottom: 1px solid $modal-border-color;
    padding: 0 1.2em;
    > h2 {
      margin: 0.5em 0;
    }
  }
  // Content
  .modal-content {
    border-bottom: 1px solid $modal-border-color;
    padding: 15px 1.2em;
  }
  // Footer
  footer {
    border-top: 1px solid lighten($modal-border-color, 20);
    padding: 0 1.2em 18px;
    background: #f0f0f0;
    border-radius: $modal-border-radius;
  }
  // A close button
  // For small screens adjust the modal
  @media screen and (max-width: $modal-small-breakpoint) {
    &:before {
      background-color: $modal-mobile-header;
      background-image: -webkit-gradient(linear, left top, left bottom, from($modal-mobile-header), to(darken($modal-mobile-header, 5%)));
      background-image: -webkit-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
      background-image: -moz-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
      background-image: -o-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
      background-image: linear-gradient(to bottom, $modal-mobile-header, darken($modal-mobile-header, 5%));
      height: 3em;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }
    .modal-inner {
      padding-top: 3em;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .modal-close {
      text-decoration: none;
      &:after {
        content: attr(data-close);
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}

/*
 * Plain Screen Theme Styles
 */

%modal-theme-plainScreen {
  .modal-inner {
    -webkit-box-shadow: 0 0 10px rgba(55, 55, 55, 0.55);
    box-shadow: 0 0 10px rgba(55, 55, 55, 0.55);
  }
  // A close button
  .modal-close {
    // Background as close
    &:before {
      background: $modal-plain-screen-overlay;
    }
    &:after {
      -webkit-box-shadow: 0px -4px 8px -1px rgba(0, 0, 0, 0.25);
      box-shadow: 0px -4px 8px -1px rgba(0, 0, 0, 0.25);
    }
  }
}