<li id="card-<%= listing.id %>">
  <div class="title">
    <%= link_to listing.title, listing %>
  </div>
  <%= link_to(image_tag(listing.picture.thumb.url), listing) %>
  <div class="deletebox">
    <% if current_user?(listing.user) && current_user.admin? %>
      <%= link_to "삭제", listing, method: :delete,
                                       data: { confirm: "확실 해요?" } %>
    <% end %>
  </div>
</li>
