<% if @announcements.any? %>
  <ol class="post">
    <%= render @announcements %>
  </ol>
  <div class="paginate"><%= will_paginate @announcements, previous_label: "<", next_label: ">" %></div>
<% end %>
