<div class="center">
 <% if @product_items.any? %>
 <% @product_items.each do |image| %>
  <ol class="listings">
		<div class="thumbnail"><%= render image %></div>
  </ol>
	<% end %>  
	<% end %>
</div>