<section class="listing">
  <% if logged_in? && current_user.admin? %>
    <div class="form">
      <%= render 'shared/listing_form' %>
    </div>
  <% end %>
  <div class="lis">
    <%= render 'shared/product' %>
  </div>
</section>
