<section class="listing">
  <% if logged_in? && current_user.admin? %>
    <div class="form">
      <%= render 'shared/listing_form' %>
    </div>
  <% end %>
  <%= render 'shared/product' %>
</section>
<div class="paginate"><%= will_paginate @product_items, previous_label: "<", next_label: ">" %></div>
