
<% if logged_in? && current_user.admin? %>	
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-xs-6">
			<section class="listing_form">
				<%= render 'shared/listing_form' %> 
			</section>
		</div>
	</div>
<% end %>	
<div class="blankets"></div>
<%= render 'shared/product' %>
