<div class="container">
<% if logged_in? && current_user.admin? %>	
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-xs-6">
			<section class="post_form">
				<%= render 'shared/post_form' %> 
			</section>
		</div>
	</div>
</div>
<% end %>	
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<%= render 'shared/announcements' %>
		</div>
	</div>
</div>
