<section class="listing">
  <% if logged_in? && current_user.admin? %>
    <div class="form">
      <%= render 'shared/post_form' %>
    </div>
  <% end %>
  <div class="pos">
    <%= render 'shared/announcements' %>
  </div>
</section>
