<div class="cover">
	<div class="container">
		<div class="center">
			<div class="blur">
			<p class="maintitle">대전 재활용센터 정부물품재활용센터<p>
			<h1>가전제품, 사무용품, 업무용품, 가구</h1>
			</div>
		</div>
	</div>
</div>
<div class="covertwo">
	<div class="container">
		<div class="center">
		</div>
	</div>
</div>
<div class="coverthree">
	<div class="container">
		<div class="center">
 		</div>
	</div>
</div>
