<section class="listing">
  <h1><%= @tag.name %></h1>
  <div class="lis">
    <% if @listings.any? %>
      <% @listings.each do |posts| %>
        <ol class='listings'>
          <div class='thumbnail'><%= render posts %></div>
        </ol>
      <% end %>
    <% end %>
  </div>
</section>
