<section class="listing">
  <h1><%= @tag.name %></h1>
  <% if @listings.any? %>
    <ol class='listings'>
      <% @listings.each do |card| %>
        <%= render card %>
      <% end %>
    </ol>
  <% end %>
</section>
<div class="paginate"><%= will_paginate @listings, previous_label: "<", next_label: ">" %></div>
