<section class="listing">
  <h1><%= @tag.name %></h1>
  <div class="lis">
    <% if @listings.any? %>
      <ol class='listings'>
        <% @listings.each do |card| %>
          <%= render card %>
        <% end %>
      </ol>
    <% end %>
  </div>
</section>
