<h1 class="highlight"><%= @tag.name %></h1>

<div class="center">
 <% if @listings.any? %>
 <% @listings.each do |posts| %>
  <ol class="listings">
		<div class="thumbnail"><%= render posts %></div>
  </ol>
	<% end %>  
	<% end %>
</div>