$green: #4caf50;
.hero {
  $hero-background-top: $green; 
  $hero-background-bottom: $green;
  $hero-color: white;
  $gradient-angle: 5deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding-top: 10em;
    padding-bottom: 7em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.7em;

        @include media($large-screen) {
          font-size: 3em;
        }
      }

      h2 {
        margin-top: 0.5em;
        font-family: $serif;
        font-size: 2em;
        font-weight: 300;
      }

      p {
        font-family: $serif;
        margin: auto;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.5em;
          max-width: 60%;
        }
      }
    }
  }
}

.intro-text {
  $intro-text-width: 60%;

  margin-bottom: 5em;
  margin-top: 4em;
  text-align: center;

  h4 {
    color: $green;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 2em;
      line-height: 1.35em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }    
  }

  p {
    margin: auto;
    margin-bottom: - 1em;

    @include media($large-screen) {
      width: $intro-text-width;
      line-height: 2;
      color: $green;
      font-size: 1.4em;
      font-weight: 300;
    }
  }
}

.map {
   width: 80%;
   display: block;
   margin-right: auto;
   margin-left: auto;
}

