textarea {
  border-radius: 1.5px;
  &:focus {
    border-color: $green;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06) inset, 0px 0px 5px rgba(78, 192, 55, 0.7);
  }
}
.listing {
  h1 {
    color: $green;
    text-align: center;
    margin-top: 1em;
  }
  @include outer-container;
  .form {
    @include span-columns(7);
    @include shift(2.5);
    @include media($mobile) {
      @include span-columns(4);
      margin-left: 0px;
      margin-top: 0px;
      padding-left: 1em;
      padding-right: 1em;
    }
    .fields {
      border-radius: 1.5px;
      &:focus {
        border-color: $green;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06) inset, 0px 0px 5px rgba(78, 192, 55, 0.7);
      } 
    }
    .button {
      float: right;
      margin-top: -2em;
      margin-bottom: 1em;
      background-color: $green;
    }
    .button2 {
      float: right;
      margin-bottom: 1em;
      background-color: $green;
    }
  }
  .lis {    
    margin-top: 2em;
    .listings {
      list-style: none;
      li {
        overflow: hidden;
        position: relative;
        display: inline-block;
        @include span-columns(4);
        @include omega(3n);
        margin-bottom: 1.5em;
        text-align: center;
        img {
          transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          display: block;
          width: 100%;
        }
        .overlay {
          transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          line-height: 0;
        }
        .detail {
          margin: 10%;
          padding: 3em;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          width: 80%;
          @include media($mobile) {
            padding: 0;
            margin: 0;
            @include span-columns(4);
            h1 { font-size: 6px; }
            .more {
              width: 100%;
              margin-top: 0;
              padding: 0;
              a { font-size: 4px; }
            }
          }
          h1 {
            opacity: 0;
            font-size: 2em;
            transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            a { color: white; }
          }
          p {
            padding-top: 0.5em;
            margin-left: -0.5em;
            opacity: 0;
            font-size: 1.5em;
            color: white;
            transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
          }
          .more {
            @extend button;
            margin-top: 0.5em;
            padding-left: 2em;
            padding-right: 2em;
            a { color: white; font-size: 1.2em; }
            background-color: transparent;
            border: 1px solid white;
            opacity: 0;
            transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            &:hover { background-color: transparent; border: 2px solid white; }
          }
        }
        &:hover {
          img {
            opacity: 0.7;
            filter: blur(4px);
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -o-filter: blur(4px);
            -ms-filter: blur(4px);
          }
          .overlay {
            background-color: black;
          }
          h1 {
            opacity: 1;     
          }
          p { opacity: 1;}
          .more { opacity: 1;}
        }
      }
    }
  }
  .pos {
    @include span-columns(6);
    @include shift(3);
    @include media($mobile) {
      @include span-columns(4);
      margin-left: 0px;
      margin-top: 0px;
    }
    .post {
      li {
        border: 1px solid $green;
        margin-bottom: 2em;
        margin-top: 2em;
        @include media($mobile) {
         @include span-columns(4);
         margin-left: 0px;
         margin-top: 0px;
        }
      }
      .title {
          padding: 2em;
          text-align: center;
          font-weight: 700;
          a { color: $green; }
        }
        .content {
          display: block;
          padding: 0 3em 1em 3em;
          white-space: pre-wrap;
        }

        .timestamp {
          margin-left: 60%;
          padding-bottom: 2em;
          a { margin-left: 0.5em; color: $green }
        }
    } 
  }
}
.listingshow {
  @include outer-container;
  aside {    
    margin-top: 4em;
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 0px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  article {
    margin-top: 4em;
    border: 1px solid $green;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 0px;
    }
    h1 {
      color: $green;
      text-align: center;
      padding: 1em;
      border-bottom: 1px solid $green;
    }
    p {
      color: $green;
      white-space: pre-wrap;
      padding: 2em 1.5em 1.5em 1.5em;
      font-weight: 500;
      line-height: 1.8;
    }
    .spec {
      text-align: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid $green;

      h2 {
        display: inline-block;
        font-size: 1em;
        color: $green;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-weight: 600;
      }
    }
  }
}

.postshow {
  @include outer-container;
  aside {
    margin-top: 4em;
    border: 1px solid $green;
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 0px;
    }
    h1 {
      color: $green;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
      font-weight: 600;
    }
    p {
      display: block;
      padding: 0 4em 3em 4em;
      white-space: pre-wrap;
      line-height: 1.8;
    }
  }
  article {
    margin-top: 4em;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 2em;
    }
    input {
      float: right;
      background-color: $green;
    }
    h3 {
      font-size: 1em;
      color: $green;
      margin-top: 3em;
      text-align: center;
      font-weight: 400;
    }
    .comments {
      border: 1px solid $green;
      margin-bottom: 0.6em;
      .timestamp {
        float: right;
        margin-top: -3em;
        margin-right: 1em;
        color: $green;
      }
      p {
        white-space: pre-wrap;
        font-size: 0.95em;
        padding: 0 2em 3em 2em;
        font-weight: 300;
        line-height: 1.6;
      }
      h2 {
        font-size: 1.2em;
        color: $green;
        padding: 2em 0 1em 2em;
      }
    }
  }
}

