textarea {
  border-radius: 1.5px;
  &:focus {
    border-color: $green;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06) inset, 0px 0px 5px rgba(78, 192, 55, 0.7);
  }
}

.paginate {
  text-align: center;
}

.listing {
  @include outer-container;
  margin-top: 2em;
  h1 {
    color: $green;
    text-align: center;
    margin: 1em;
  }
  .form {
    display: block;
    margin: 1.5em;
    @include span-columns(7);
    @include shift(2.5);
    @include media($mobile) {
      @include span-columns(4);
      margin: 0;
      padding-left: 2em;
      padding-right: 2em;
    }

    .fields {
      border-radius: 1.5px;
      &:focus {
        border-color: $green;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06) inset, 0px 0px 5px rgba(78, 192, 55, 0.7);
      }
    }
    .button {
      float: right;
      margin-top: -2em;
      margin-bottom: 1em;
      background-color: $green;
      font-family: Helvetica;
      &:hover {
        background-color: #388e3c;
      }
    }
    .button2 {
      float: right;
      margin-bottom: 1em;
      background-color: $green;
      font-family: Helvetica;
      &:hover {
        background-color: #388e3c;
      }
    }
  }
  .listings {
    list-style: none;
    @include media($medium-screen-up) {
      padding-left: 2em;
      padding-right: 2em;
    }

    li {
      overflow: hidden;
      position: relative;
      display: inline-block;
      @include media($mobile) {
        @include span-columns(4);
        padding: 0 1em 0 1em;
      }

      @include media($large-screen-up) {
        @include span-columns(4);
        @include omega(3n);
      }

      margin-bottom: 1.5em;
      text-align: center;
      .hoverthumb {
        opacity: 1;
        transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        display: block;
        width: 100%;
      }
      .overlay {
        transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -webkit-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        line-height: 0;
      }
      .detail {
        margin: 10%;
        padding: 3vw;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 80%;
        h1 {
          margin: 0;
          opacity: 0;
          margin-top: 13%;
          transition: all 0.45s ease-in-out;
          -moz-transition: all 0.45s ease-in-out;
          -webkit-transition: all 0.45s ease-in-out;
          -o-transition: all 0.45s ease-in-out;
          a {
            color: white;
          }
          @include media($mobile) {
            margin-top: 30%;
            font-size: 8vw;
          }

          @include media($medium-screen-up) {
            font-size: 5vw;
          }

          @include media($large-screen-up) {
            font-size: 2.3vw;
          }
        }
        p {
          margin: 0.5vw 0 0.8vw -0.2vw;
          opacity: 0;
          color: white;
          transition: all 0.45s ease-in-out;
          -moz-transition: all 0.45s ease-in-out;
          -webkit-transition: all 0.45s ease-in-out;
          -o-transition: all 0.45s ease-in-out;
          @include media($mobile) {
            font-size: 8vw;
          }

          @include media($medium-screen-up) {
            font-size: 5vw;
          }

          @include media($large-screen-up) {
            font-size: 2.5vw;
          }
        }
        .more {
          margin-right: 0.3vw;
          @include media($mobile) {
            display: none;
          }

          @extend button;
          padding: 1vw 2vw 1vw 2vw;
          a {
            color: white;
            font-size: 1.5vw;
            font-family: Helvetica;
          }
          background-color: transparent;
          border: 1px solid white;
          opacity: 0;
          transition: all 0.45s ease-in-out;
          -moz-transition: all 0.45s ease-in-out;
          -webkit-transition: all 0.45s ease-in-out;
          -o-transition: all 0.45s ease-in-out;
          &:hover {
            background-color: transparent;
            border: 2px solid white;
          }
        }
        span {
          transition: all 0.45s ease-in-out;
          -moz-transition: all 0.45s ease-in-out;
          -webkit-transition: all 0.45s ease-in-out;
          -o-transition: all 0.45s ease-in-out;
          opacity: 0;
          display: block;
          a {
            color: white;
          }
        }
      }
      &:hover {
        .hoverthumb {
          opacity: 0.7;
          filter: blur(4px);
          -webkit-filter: blur(4px);
          -moz-filter: blur(4px);
          -o-filter: blur(4px);
          -ms-filter: blur(4px);
        }
        .overlay {
          background-color: black;
        }
        h1 {
          opacity: 1;
        }
        p {
          opacity: 1;
        }
        .more {
          opacity: 1;
        }
        span {
          opacity: 1;
        }
      }
    }
  }
  .pos {
    @include outer-container;
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
      margin-left: 0px;
      margin-top: 0px;
      padding-left: 2em;
      padding-right: 2em;
    }

    @include media($medium-screen-up) {
      padding-left: 2em;
      padding-right: 2em;
    }

    .post {
      li {
        margin-top: 4em;
        @include media($mobile) {
          @include span-columns(4);
          margin-left: 0px;
          margin-top: 0px;
        }
      }
      .date {
        color: transparentize($base-font-color, 0.6);
        font: 900 1em Helvetica;
      }
      .title {
        font-weight: 700;
        margin-bottom: 1.5em;
        a {
          color: black;
          font: 700 1.7em / 1.8 Helvetica;
        }
      }
      p {
        padding-top: 0.6em;
        display: block;
        font: 400 1.2em/1.8 Helvetica;
        a {
          color: $green;
          font-size: 0.8em;
        }
      }
      .timestamp {
        margin-right: 1em;
        text-align: right;
        padding-top: 2em;
        a {
          margin-left: 0.5em;
          color: $green;
        }
      }
    }
  }
}

.listingshow {
  @include outer-container;
  @include clearfix;
  @include media($medium-screen-up) {
    padding-left: 2em;
    padding-right: 2em;
  }

  aside {
    margin-top: 4em;
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 0px;
    }

    img {
      width: 100%;
      display: block;
    }
  }
  article {
    margin-top: 4em;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 1em;
      padding-left: 2em;
      padding-right: 2em;
    }

    h1 {
      padding: 0 0 1em 0.2em;
      font-family: Helvetica;
      color: $green;
    }
    h3 {
      padding-left: 0.5em;
      color: transparentize($base-font-color, 0.6);
      font: 900 1em Helvetica;
    }
    p {
      font: 500 1em/1.8 Helvetica;
      white-space: pre-wrap;
      padding: 1.3em 0 0 0.5em;
      text-align: left;
    }
    .spec {
      padding-top: 1.5em;
      float: right;
      h2 {
        text-align: right;
        font-style: italic;
        font-size: 0.8em;
        font-weight: 200;
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }
}

.postshow {
  @include outer-container;
  @include media($medium-screen-up) {
    padding-left: 2em;
    padding-right: 2em;
  }

  section {
    @include media($mobile) {
      @include span-columns(4);
      h1 {
        margin-top: 0px;
      }
      p {
        padding-top: 1em;
      }
      padding-left: 1em;
      padding-right: 1em;
    }

    h1 {
      @include media($mobile) {
        margin-top: 0.5em;
        color: $green;
      }

      margin-top: 2.5em;
      margin-bottom: 0.5em;
      font: 700 2em / 1.8 Helvetica;
      font-weight: 600;
    }
    p {
      padding-top: 0.5em;
      display: block;
      white-space: pre-wrap;
      line-height: 1.8;
      font-size: 1.15em;
    }
    .date {
      color: transparentize($base-font-color, 0.6);
      font: 900 1em Helvetica;
    }
  }
  article {
    margin-top: 4em;
    @include media($mobile) {
      @include span-columns(4);
      margin-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
    }

    input {
      float: right;
      background-color: $green;
    }
    p {
      font-size: 2em;
      color: $green;
      padding-left: 1em;
    }
    h3 {
      font-size: 1em;
      color: $green;
      margin-top: 3em;
      text-align: center;
      font-weight: 400;
    }
    .comments {
      border: 1px solid $green;
      border-radius: 2px;
      margin-bottom: 0.6em;
      .timestamp {
        font-family: Helvetica;
        float: right;
        margin-top: -3em;
        padding-right: 2em;
        color: transparentize($base-font-color, 0.6);
        a {
          font-family: Helvetica;
          padding-left: 0.5em;
          color: $green;
        }
      }
      p {
        color: black;
        white-space: pre-wrap;
        font-size: 0.95em;
        padding: 0 2em 3em 2em;
        font-weight: 300;
        line-height: 1.6;
      }
      h2 {
        font-size: 1em;
        color: $green;
        padding: 2em 0 1em 2em;
      }
    }
  }
}

#map {
  height: 600px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  @include media($mobile) {
    height: 300px;
  }
}