<footer class="footer">
  <small>
    Recycle center placeholder text
  </small>
  <nav>
    <ul>
      <li><%= link_to "Placeholder",   '#' %></li>
      <li><%= link_to "Placeholder", '#' %></li>
    </ul>
  </nav>
</footer>