<footer class="footer-2">
  <ul>
    <li>전시장: 대전시 유성구 구암동 419-12번지</li>
    <li>대전 광역시 유성구 현충언로 480번길 46</li>
  </ul>
  <div class="footer-secondary-links">
    <ul>
      <li>이용시간: 09:00 ~ 19:00</li>
      <li>팩스: 042) 535-5872</li>
      <li>전화: 042) 524-8887</li>
    </ul>
  </div>
</footer>
