<footer class="footer">
  <small>
    전시장: 대전시 유성구 구암동 419-12번지
  </small>
  <nav>
    <ul>
      <li><p>이용시간: 09:00 ~ 19:00</p></li>
      <li><p>팩스: 042) 535-5872</p></li>
      <li><p>전화: 042) 524-8887</p></li>
    </ul>
  </nav>
</footer>
